body {
  font-family: 'Roboto', sans-serif;
  margin: 15px;
  padding: 0px; }

a {
  text-decoration: none;
  color: black; }

a:hover {
  text-decoration: none;
  color: black; }

.tabs {
  text-decoration: none;
  color: black;
  padding: 5px 10px 3px 0px; }

.tabs:hover {
  text-decoration: underline; }

.selected {
  text-decoration: underline;
  padding: 5px 10px 3px 0px; }

input[type=number] {
  width: 100px; }

input[type=radio] {
  width: 30px; }

.main {
  display: block;
  vertical-align: top;
  border: 2px solid black;
  padding: 10px;
  margin: 10px 0px 10px 0px; }

.ct {
  display: inline-block;
  vertical-align: top;
  padding: 10px;
  margin: 10px 10px 10px 10px; }

.ht {
  display: block;
  vertical-align: top;
  border: 1px solid black;
  padding: 10px;
  margin: 10px 10px 10px 10px; }

table {
  border-collapse: collapse; }

table, th, td {
  border: 1px solid #ccc; }

td, th {
  padding: 5px 10px 5px 10px; }

.flt {
  text-align: right; }

tr:nth-child(even) {
  background-color: #f2f2f2; }

thead, th {
  background-color: #222222;
  color: #ffffff; }

/* Style the buttons that are used to open and close the accordion panel */
.accordion {
  background-color: white;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  text-align: left;
  border: 1px solid black;
  outline: none;
  transition: 0.4s; }

/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
.active, .accordion:hover {
  background-color: #ccc; }

/* Style the accordion panel. Note: hidden by default */
.panel {
  padding: 0 18px;
  background-color: white;
  display: none;
  overflow: hidden;
  border: 2px solid black; }

button {
  background-color: #EFEFEF; }

.right {
  float: right;
  margin: 0px 5px 0px 5px; }

.ctcomp {
  color: red; }

.random {
  font-style: italic;
  font-family: Georgia, Times, serif; }
